parameters:
    level: 9
    paths:
        - src
        - tests

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::scalarNode\(\)#'
